@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html body {
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

main {
    height: 100vh;
    position: relative;
    background-image: url("../imagens/fundo-madeira.jpg");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover; 
       
}

section#telefone {
height: 627px;
width: 311px;
background-color: darkgray;
position: absolute;
top: 50%;
left: 50%;
background: url("../imagens/frame-iphone.png");
transform: translate(-50%, -50%);
background-repeat: no-repeat;
padding-top: 0.1em;


}




main iframe {
position: relative;
height: 467px;
width: 263px;
background-image: url(../imagens/tela-home.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position:  center;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}



main #redes {
    width: 5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    z-index: 1;

    
    
}

{

    height: 467px;
    width: 263px;


}

#redes  img{

   width: 50px;
   border-radius: 50%;
   box-shadow: 2px 3px 5px 0px black;
   margin-top: 1em;
   
   

}

#redes  img:hover {

    border: 1px solid #fff;
    transform: translateY(-5px);
    transition: 0.5s;
    box-shadow: 5px 5px 7px 0px black;
   

}

section #youtube{






    
}